body{
    margin: 0;
}

nav{
    background: black;
    width: 100%;
    height: 70px;
    }

ul{
    list-style-type: none;
    padding: 0%;
    margin-left: 65%;
    list-style: none;  
    display: flex;  
    margin-top: 0;

}
li{
    margin-top: 20px;
    margin-left: 20px;
}

li a {
    color: white;
    text-decoration: none;
}

.logo{
    margin-top: 0%;
}